body {
  padding-bottom: 20px;
}

.registration-form, .login-form, .center-form {
  max-width: 500px;
  margin: 0 auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list > li {
  padding: 12px 0px;
}

.list > li:last-child {
  border-bottom: none;
}

.list > li .name {
  font-size: 17px;
  font-weight: bold;
  color: #2c3e50;
}

.list > li .description {
  color: #95a5a6;
}

.navbar-toggle .icon-bar {
  background-color: #337ab7;
}

.issues-list .title {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
  max-width: 95%;
}

.light {
  color: #95a5a6;
}

.comments-list .comment-text {
  font-size: 16px;
  margin-left: 42px;
}

.attachment .thumbnail {
  max-width: 100%;
}

.comments-list {
  margin-bottom: 20px;
}

.author img {
  width: 32px;
  height: 32px;
  float: left;
  border-radius: 50%;
  margin-right: 10px;
}

.author span {
  color: #2c3e50;
  font-weight: bold;
}

.title-with-btn {
  line-height: 34px;
}

.project-menu {
  font-weight: bold;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  padding: 10px 0;
  margin: 10px 0;
  margin-top: 15px;
}

.project-menu > li > a {
  padding: 8px 20px;
}

@media (max-width: 767px) {
  .project-menu > li > a {
    padding: 6px 12px;
  }
}

.page-h {
  font-weight: bold;
  margin-top: 5px;
}

.navbar-nav > li > a.avatar {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-nav > li > a.avatar img {
  width: 40px;
  border-radius: 50%
}

.attachment {
  margin-left: 42px;
}

.close-form {
  float: left;
  margin-left: 115px;
  position: relative;
  top: -44px;
}

.closed-label {
  margin-right: 5px;
}

.nav-text-pills {
  text-align: center;
}

.nav-text-pills li {
  display: inline-block;
}

.nav-text-pills li a {
  padding: 3px 12px;
}

.nav-text-pills li.active a {
  color: #95a5a6;
}

.invite form {
  display: inline-block;
  margin-left: 5px;
}

.nav-pills > li > a.btn-info:hover,
.nav-pills > li > a.btn-info:active {
  color: #ffffff;
  background-color: #217dbb;
  border-color: #2077b2;
}

.comment-head {
  margin-bottom: 5px;
  color: #95a5a6;
  font-size: 14px;
}

.comment.highlight,
.comment:target {
  background: #FFFAE1;
}

.issue-info .edit-issue-link {
  color: #FFF;
  float: right;
}
